@model ConsumeApi.Models.ExRateOutPut

@{
    ViewBag.Title = "Get-Xchange-Rate";
}

<h2>Get-Xchange-Rate</h2>

<br />
<br />
<li>BaseCur:@Model.BaseCurrency</li>
<li>TargetCur: @Model.TargetCurrency</li>
<li>Minimum: @Model.Minimum </li>
<li>Maximum: @Model.Maximum</li>
<li>Average: @Model.Average</li>
